<div >
    <div class="row page-titles">
        <div class="col-md-5 col-8 align-self-center">
            <h3 class="text-themecolor">{{vidhanSabhaCreateService.textForAddorUpdate}} Vidhan Sabha</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a >Home</a>
              </li>
              <li class="breadcrumb-item active">{{vidhanSabhaCreateService.textForAddorUpdate}} Vidhan Sabha</li>
            </ol>
          </div>
        <div class="col-md-7 col-4 align-self-center">
            <div class="d-flex m-t-10 justify-content-end">
                <div class="d-flex m-r-20 m-l-10 hidden-md-down">
                    <div class="chart-text m-r-10">
                        <h4 class="m-b-0">
                            <a class="text-secondary" (click)="utilsService.gotoBackPage()">
                                <i class="mdi mdi-close"></i>
                            </a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
  
    <!-- Components -->
    <div class="row">
        <div class="col-lg-12">
              <!-- card-outline-info -->
            <div class="card ">
                <!-- <div class="card-header">
                <h4 class="m-b-0 text-white">Organization Profile</h4>
            </div> -->
                <div class="card-body">
                    <div class="alert alert-danger" *ngIf="vidhanSabhaCreateService.errors.length > 0">
                        <button type="button" class="close" (click)="vidhanSabhaCreateService.hideErrorDiv()">&times;</button>
                        <ul>
                            <li *ngFor="let err of vidhanSabhaCreateService.errors">
                                {{err}}
                            </li>
                        </ul>
                    </div>
                    <div class="form-body">
                        <div class="row label_width_fixed m-t-15">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">
                                        Code
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" maxlength="30" name="names"
                                        [formControl]="vidhanSabhaCreateService.form.controls['code']" [(ngModel)]="vidhanSabhaCreateService.vidhanSabha.code"/>
                                        <h6 *ngIf="vidhanSabhaCreateService.form.controls['code'].hasError('required') && vidhanSabhaCreateService.form.controls['code'].touched">{{utilsService.validationService.REQUIRED_CODE}}</h6>
                                        <h6 *ngIf="!vidhanSabhaCreateService.form.controls['code'].hasError('required') && !vidhanSabhaCreateService.form.controls['code'].valid && vidhanSabhaCreateService.form.controls['code'].touched">{{utilsService.validationService.INVALID_CODE}}</h6>
                                      </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">
                                        Name
                                    </label>
                                    <div class="col-md-8">
                                        <input type="text"tabindex="2" class="form-control" maxlength="50" [(ngModel)]="vidhanSabhaCreateService.vidhanSabha.name" maxlength="{{utilsService.validationService.ITEM_NAME_SIZE}}"
                                        [formControl]="vidhanSabhaCreateService.form.controls['name']"  >
                                        <h6 *ngIf="vidhanSabhaCreateService.form.controls['name'].hasError('required') && vidhanSabhaCreateService.form.controls['name'].touched">{{utilsService.validationService.REQUIRED_NAME}}</h6>
                                        <h6 *ngIf="!vidhanSabhaCreateService.form.controls['name'].hasError('required') && !vidhanSabhaCreateService.form.controls['name'].valid && vidhanSabhaCreateService.form.controls['name'].touched">{{utilsService.validationService.INVALID_NAME}}</h6>    
                                    </div>
                                </div>
                                
  
                                <div class="form-group row">
                                    <label class="control-label text-right col-md-4">Lok Sabha</label>
                                    <div class="col-md-8">
                                        <!-- <input type="text" class="form-control" maxlength="300" [(ngModel)]="vidhanSabhaCreateService.idOfLokSabha" 
                                        [formControl]="vidhanSabhaCreateService.form.controls['loksabha']"/> -->
                                        <select class="form-control" [(ngModel)]="vidhanSabhaCreateService.idOfLokSabha"  [formControl]="vidhanSabhaCreateService.form.controls['loksabha']">
                                            <option value="">Select</option>
                                            <option *ngFor="let i of [1,2,3]">{{i}}</option>
                                        </select>
                                        <h6 *ngIf="vidhanSabhaCreateService.form.controls['loksabha'].hasError('required') && vidhanSabhaCreateService.form.controls['loksabha'].touched">{{utilsService.validationService.REQUIRED_DESCRIPTION}}</h6>
                                        <!-- <h6 *ngIf="!vidhanSabhaCreateService.form.controls['description'].hasError('required') && !vidhanSabhaCreateService.form.controls['description'].valid && vidhanSabhaCreateService.form.controls['description'].touched">{{utilsService.validationService.INVALID_DESCRIPTION}}</h6> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <!-- (click)="vidhanSabhaCreateService.insertItemMethod()" [disabled]="vidhanSabhaCreateService.itemForm.invalid" -->
                                        <button type="submit" *ngIf="vidhanSabhaCreateService.opertaion == 'create'" (click)="vidhanSabhaCreateService.insertvidhanSabha()" [disabled]="vidhanSabhaCreateService.form.invalid" class="btn btn-info waves-effect"  >Save</button>
                                        <button type="submit" *ngIf="vidhanSabhaCreateService.opertaion != 'create'" (click)="vidhanSabhaCreateService.insertvidhanSabha()" [disabled]="vidhanSabhaCreateService.form.invalid" class="btn btn-info waves-effect"  >Update</button>
                                        <button type="button" class="btn btn-default waves-effect waves-light" (click)="utilsService.gotoBackPage()">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  
    
  </div>
  