<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Lok Sabha</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a >Home</a>
      </li>
      <li class="breadcrumb-item active">Lok Sabha</li>
    </ol>
  </div>
  <div class="col-md-7 col-4 align-self-center">
    <div class="d-flex m-t-10 justify-content-end">
      <div class="d-flex m-r-20 m-l-10 hidden-md-down">
        <div class="chart-text m-r-10">
          <button class="btn btn-info" [routerLink]="['/home/work_area/lok-sabha/lok-sabha/create']">
            <i class="ti-plus"></i> New</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="float-left form-inline"> 
            <!-- viewItemService.paginationRequest. -->
          <input type="text" [(ngModel)]="searchText" placeholder="Search Items.." class="form-control">
            <!-- (ngModelChange)="viewItemService.getAllItems(undefined , viewItemService.paginationRequest.searchText)"> -->
        </div>
        <div class="float-right">
            <!-- {{viewItemService.paginationResponse.totalElements}} -->
          <label>Total Count : 10</label>
        </div>
      </div>
      <div class="card-body no-padding">
        <div class="table-responsive">
          <table class="table color-table info-table cursor_pointer">
            <thead>
              <tr>
                <th>Code</th>
                <!-- (click)="viewItemService.getAllItems(th.keyName)" -->
                <th>
                  Name
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
                <!-- viewItemService.allItem (dblclick)="viewItemService.goToItemDetailsPage(item.id)" -->
              <tr *ngFor="let item of customers" >
                <!-- <td>{{(+viewItemService.paginationResponse.startPos) + i}}</td> -->
                <td>{{item.id}}</td>
                <td>{{item.firstName}}</td>
                <td>{{item.lastName}}</td>
                <!-- <td class="anchor-group">
                  <a class="text-info" (click)="viewItemService.goToEdit(item.id)">
                    <i class="ti-pencil-alt"></i>
                  </a>
                  <a class="text-danger" title="Delete" data-toggle="modal" data-target="#deleteItem" (click)="viewItemService.removeItem(item.id)">
                    <i class="ti-trash"></i>
                  </a>
                </td> -->
              </tr>
              <!-- <tr *ngIf="viewItemService.allItem.length <= 0">
                <td colspan="5">
                  {{utilsService.serverVariableService.STRING_WHEN_NO_RECORDS_FOUND}}
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-footer" 
      *ngIf="viewItemService.paginationResponse.totalElements > viewItemService.paginationRequest.minimumPerPage">
        <div class="float-left">
          <div class="record">
            <div class="float-left page_dropdown" *ngIf="viewItemService.paginationResponse.pageArray.length > 0">
              <techhive-multiselect [data]="viewItemService.paginationResponse.pageArray" [settings]="utilsService.serverVariableService.dropdownSettingForPageOfPagination"
                [(ngModel)]="viewItemService.paginationRequest.pageNumber" (onSelect)="viewItemService.changePage()">
              </techhive-multiselect>
            </div>
          </div>
        </div>
        <div class="paginations_list float-right">
          <ul>
            <li class="record" *ngIf="viewItemService.paginationRequest.noOfRecordPerPageArray.length > 0">
              <techhive-multiselect [data]="viewItemService.paginationRequest.noOfRecordPerPageArray" [settings]="utilsService.serverVariableService.dropdownSettingForRecordOfPagination"
                [(ngModel)]="viewItemService.paginationRequest.noOfRecords" (onSelect)="viewItemService.changeNoOfRecord()">
              </techhive-multiselect>
            </li>
            <li class="prev">
              <button class="btn btn-primary" [disabled]="viewItemService.paginationResponse.first" (click)="viewItemService.getPreviousData()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
              </button>
            </li>
            <li class="pagination-number">
              <a>
                {{+viewItemService.paginationResponse.startPos}}-{{ +viewItemService.paginationResponse.endPos}}
              </a>
            </li>
            <li class="next">
              <button class="btn btn-primary" [disabled]="viewItemService.paginationResponse.last" (click)="viewItemService.getNextData()">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
  </div>
</div>


<!-- <div id="deleteItem" class="modal fade" role="dialog">
  <div class="modal-dialog">
    Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>{{utilsService.CONFIRM_MSG_FOR_DELETE}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="viewItemService.deleteItem()" data-dismiss="modal">Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div> -->